input {
  width: 100%;
}

.movie-form {
  padding: 20px;
  font-size: 20px;
}

.movie-form form {
  display: block;
  margin: 0 auto;
  max-width: 700px;
}

.movie-form .submit-contain {
  text-align: center;
}
