.main {
	background-color: black;
	min-height: 1000px;
    height: auto !important;
    height: 1000px;
}

.topbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #e2f0ed;
	padding: 10px;
}

.topbar > * {
	flex-shrink: 0;
	flex-grow: 0;
}

.topbar .appname {
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}

.main h2 {
	font-weight: bold;
	color: white;
	padding: 0;
	margin: 5px;
	font-size: 30px;
	line-height: 2;
}

.button {
	background-color: #5bb899;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 2px;
	cursor: pointer;
}

.main-contain {
	max-width: 1000px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
